body {
	font-family: 'Karla', sans-serif;
	color: #EAFFD6;
	background: #99AAC8 url('img/blue_texture.jpg') repeat;
}

a {
	color: #BECFAE;
	text-decoration: none;
	font-size: 1.25em;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.5em;
	color: #BECFAE;
}

.btn {
	color: #faf3bc;
	background: #102746 url('img/btn_texture.jpg') no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #4cc4a7;
}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float: right;

}

ul.nav li {
	float: left;
	margin-right: 40px;
}

ul.nav li a {
	color: #BECFAE;
}

#intro {
	margin: 50px 0 75px 0;
}

#Quirks img {
	border: 8px solid #BECFAE;
	margin-bottom: 20px;
	width: 385px;
	height: 160px;
}

#loves img {
	border: 8px solid #BECFAE;
	width: 385px;
	height: 360px;
	margin-top: 40px;
}

#copyright {
	border-top: 8px solid #2a0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}

.logo {
	width: 150px; 
	height: 150px;
	margin: 20px 0px 0px 0px;
}